@import url("https://fonts.googleapis.com/css2?family=Grandstander:wght@100;200;300;400&display=swap");
@font-face {
  font-family: "Grandstander-Regular";
  src: url("../app/fonts/Grandstander-Regular.ttf");
  /* font-style: normal; */
  font-weight: 900;
}
@font-face {
  font-family: "Grandstander-Thin";
  src: url("../app/fonts/Grandstander-Thin.ttf");
  font-style: normal;
  font-weight: 900;
}
h1 {
  font-family: "Grandstander", sans-serif;
  font-size: x-large;
  color: #484848;
}
